@model TravelBlog.Models.GalleryItemModel

@{
    ViewData["Title"] = "Remove";
}
<div class="GalleryItemModel">
    <h1 class="gallery-title">Usuń</h1>
    <hr />
    <div class="alert alert-danger" role="alert">
        <h3>Czy na pewno chcesz usunąć ten obraz?</h3>
    </div>
    <div class="GalleryItemModel-item">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <img src="@Html.DisplayFor(model => model.ImagePath)" alt="bay" />
                </div>
                <div class="col">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                Opis zdjęcia
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ImageDescription)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ścieżka do pliku
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ImagePath)
                            </td>
                        </tr>
                    </table>
                    <form asp-action="RemoveConfirm" class="remove-form">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Usuń" class="btn btn-danger" />

                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="gallery-button">
        <a asp-action="Galeria" class="btn btn-secondary">Powrót do galerii</a>
    </div>
</div>
    
    

