
@{
    ViewData["Title"] = "Aktualnosci";
}

<article id="firstArticle" class="first-article">
    <div class="first-article__box">
        <img src="~/img/mainArticlePhoto.png" alt="bay" class="first-article__photo ">
        <div class="first-article__text">
            <p class="first-article__text-date">01.02.2019</p>
            <h3 class="first-article__text-title">Welcome to LAOS!</h3>
            <p class="first-article__text-content">
                Besides being one of my all-time favorite people in the
                world, Jodi is also a damn amazing blogger who writes often about food and culture. She
                devotes a lot of time to food on the road, taking mouthwatering photos that make me jealous
                of her ability to do so. A former lawyer, she also writes a series called “Thrillable Hours”
                about other lawyers who gave up being a corporate lackey for life on the road. Besides being
                one of my all-tiut other lawyers who gave up being a corporate lackey for life on the road...
            </p>
        </div>
    </div>
    <a href="#">
        <button class="more-about-article"></button>
    </a>
</article>


<!-- Etap IV - Więcej artykułów -->
<section class="more-articles-container">
    
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <div class="more-articles">
                <div class="one-of-articles">
                    <img src="~/img/pexels-1.jpg" class="d-block w-100" alt="...">
                        <div class="one-of-articles-title">
                            <p>
                                Hi. I’m Piotr Saks.
                                <br>Welcome to LAOS!
                            </p>
                        </div> 
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="more-articles">
                <div class="one-of-articles">
                    <img src="~/img/pexels-6.jpg" class="d-block w-100" alt="...">
                    <div class="one-of-articles-title">
                        <p>
                            Hi. I’m Piotr Saks.
                            <br>Welcome to LAOS!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="more-articles">
                <div class="one-of-articles">
                    <img src="~/img/pexels-2.jpg" class="d-block w-100" alt="...">
                    <div class="one-of-articles-title">
                        <p>
                            Hi. I’m Piotr Saks.
                            <br>Welcome to LAOS!
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <div class="carousel-item">
                <div class="more-articles">
                    <div class="one-of-articles">
                        <img src="~/img/pexels-3.jpg" class="d-block w-100" alt="...">
                        <div class="one-of-articles-title">
                            <p>
                                Hi. I’m Piotr Saks.
                                <br>Welcome to LAOS!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="more-articles">
                    <div class="one-of-articles">
                        <img src="~/img/pexels-4.jpg" class="d-block w-100" alt="...">
                        <div class="one-of-articles-title">
                            <p>
                                Hi. I’m Piotr Saks.
                                <br>Welcome to LAOS!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="more-articles">
                    <div class="one-of-articles">
                        <img src="~/img/pexels-5.jpg" class="d-block w-100" alt="...">
                        <div class="one-of-articles-title">
                            <p>
                                Hi. I’m Piotr Saks.
                                <br>Welcome to LAOS!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</section>
@* <section class="more-articles-container">
    <div class="more-articles">

        <div class="one-of-articles">
            <img src="~/img/pexels-5.jpg" alt="bay with logo" class="one-of-articles-photo">
            <div class="one-of-articles-title">
                <p>
                    Hi. I’m Piotr Saks.
                    <br>Welcome to LAOS!
                </p>
            </div>
        </div>
    </div>
    <div class="more-articles-arrows">
        <img src="~/img/arrowLeft.png" alt="arrow left">
        <img src="~/img/arrowRight.png" alt="arrow right">
    </div>
</section> *@

<!-- Etap V - Promowany artykuł -->

<section class="section-container">
    <div class="promo-article">
        <p>***</p>
        <p class="promo-article-date">01.02.2019</p>
        <h2 class="promo-article-title">
            Wai o Tapu – gejzery – geotermalny cud Nowej Zelandii
        </h2>
        <div class="promo-article-photo"></div>
        <p class="promo-article-text">
            Podróż na Seszele zawsze była moim marzeniem. Gdy przyszło do organizacji
            wyprawy nie mogłam uwierzyć, że to się dzieje naprawdę! Wyprawę
            rozpoczęliśmy od wyspy Praslin. Pokażę Wam dzisiaj jak my zorganizowaliśmy
            swoją objazdówkę, jakie miejsca najbardziej nas urzekły oraz gdzie wybrać
            się na pyszny obiad! Lecimy!
        </p>
        <h3 class="promo-article-inner-Title"> JAK DOSTAĆ SIĘ NA WYSPĘ PRASLIN?</h3>
        <p class="promo-article-text">
            Pierwsze pytanie, jakie pojawi się przy planowaniu podróży to jak dostać się po
            przylocie na wyspę Praslin. Jest na to kilka sposobów: możecie popłynąć promem
            CAT COCOS , polecieć samolotem. liniami AIR SEYCHELLES, a nawet helikopterem
            FLY ZIL AIR. Koszt przelotu samolotem lokalnych linii lotniczych w tym roku
            to około 250 pln w jedną stronę (w cenie biletu jest 30-kg bagaż), a cena rejsu
            statkiem to około 220 pln (dzieci w wieku od 2 do 12 lat płacą 50% ceny). Promy
            wypływają trzy razy dziennie, rejs trwa około godzinę. Samoloty kursują częściej,
            sześć razy dziennie, a lot trwa 20 minut.
        </p>
    </div>
</section>
