@model TravelBlog.Models.EmailModel

@{
    ViewData["Title"] = "FormSubmitted";
}



<div class="FormSubmitted">
    <p>Formularz został wysłany</p>
    <hr>
    <p>Dziękujemy za kontakt</p>
    <hr>
    <p>Wkrótce odpowiemy na Twoją wiadomość</p>
    <div class="FormSubmitted-Button">
        <a asp-action="Index" class="btn btn-outline-light">Powrót na stronę główną</a>
    </div>
</div>

