
@{
    ViewData["Title"] = "Galeria";
}

<section id="gallery" class="gallery-container">
    <div class="gallery">
        <div class="gallery-box">
            <img src="~/img/gallery-1.jpg" alt="bay" class="gallery-main-photo">
            <p class="main-gallery-photo-description">laos!</p>
            <div class="gallery-cover">
                <img src="~/img/galleryIcons.png" alt="gallery icon">
            </div>
        </div>
        <div class="gallery-box">
            <img src="~/img/gallery-2.jpg" alt="bay" class="gallery-main-photo">
            <p class="main-gallery-photo-description">laos!</p>
            <div class="gallery-cover">
                <img src="~/img/galleryIcons.png" alt="gallery icon">
            </div>
        </div>
        <div class="gallery-box">
            <img src="~/img/gallery-3.jpg" alt="bay" class="gallery-main-photo">
            <p class="main-gallery-photo-description">laos!</p>
            <div class="gallery-cover">
                <img src="~/img/galleryIcons.png" alt="gallery icon">
            </div>
        </div>
        <div class="gallery-box">
            <img src="~/img/gallery-4.jpg" alt="bay" class="gallery-main-photo">
            <p class="main-gallery-photo-description">laos!</p>
            <div class="gallery-cover">
                <img src="~/img/galleryIcons.png" alt="gallery icon">
            </div>
        </div>
        <div class="gallery-box">
            <img src="~/img/gallery-5.jpg" alt="bay" class="gallery-main-photo">
            <p class="main-gallery-photo-description">laos!</p>
            <div class="gallery-cover">
                <img src="~/img/galleryIcons.png" alt="gallery icon">
            </div>
        </div>
        <div class="gallery-box">
            <img src="~/img/gallery-6.jpg" alt="bay" class="gallery-main-photo">
            <p class="main-gallery-photo-description">laos!</p>
            <div class="gallery-cover">
                <img src="~/img/galleryIcons.png" alt="gallery icon">
            </div>
        </div>
    </div>
</section>