@{
    ViewData["Title"] = "Home Page";
}
    <div class="about-blog">
        <div class="about-blog__content">
            <header>
                <h1 class="about-blog__content-title">Life is a journey, stories are our mile markers</h1>
                <img src="~/img/logoWhite.png" alt="white logo">
            </header>
            <div class="about-blog__content--welcome">
                <img src="~/img/pexels-man-1.jpg" alt="Piotr Saks" class="about-blog__content--welcome-picture">
                <div class="about-blog__content--welcome-text">
                    <h2>
                        Hi. I’m Piotr Saks.
                        <br>Welcome to LAOS!
                    </h2>
                    <p>
                        Besides being one of my all-time favorite people in the world,
                        Jodi is also a damn amazing blogger who writes often about food
                        and culture. She devotes a lot of time to food on the road, taking
                        mouthwatering photos that make me jealous of her ability to do so.
                        A former lawyer, she also writes a series called “Thrillable Hours”
                        about other lawyers who gave up being a corporate lackey for life on the road.
                    </p>
                </div>
            </div>
        </div>
    </div>